* {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	padding: 0;
	background: rgb(239, 239, 239);
	color: rgb(0, 0, 0);
}

.unselectable {
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	-o-user-select: none;
	user-select: none;
}

.app {
	text-align: center;
}

.lang-title-and-main {
	margin: auto;
	text-align: center;
	display: inline-block;
	padding: 0 20px 5px 20px;
}

.title-and-main {
	background: rgb(255, 255, 255);
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.main {
	text-align: center;
	padding: 10px;
}

.main-content {
	display: inline-block;
}

.title-big {
	background-color: rgb(61, 61, 61);
	color: white;
	padding: 10px 10px;
	margin: 0;
	font-size: 1.5em;
	font-weight: bolder;
}

.data-block {
	margin-bottom: 10px;
	text-align: left;
}

.row-title {
	margin-right: 5px;
}

.select-language-button-wrapper {
	text-align: right;
}
.select-language-button {
	display: inline-block;
	margin-bottom: 10px;
}